/* ----------------------------------------------------------------
	Custom CSS

	Add all your Custom Styled CSS here for New Styles or
	Overwriting Default Theme Styles for Better Handling Updates
-----------------------------------------------------------------*/


.main-subtile{
	text-align: center;
	color:#0e1e42;
}

.primary-color{
	color:#0e1e42;opacity:0.8
}
.secondary-color{
	color:#0e1e42;opacity:0.8
}
.container-wrap{
	display: flex;
}
.padding1{
padding-left: 25%;
}
.padding2{
	padding-left: 10%;
	}
.share-banner{
	height: 200px;
	background-repeat: no-repeat; 
    background-size: cover;
	}

.share-banner p{
	color:white;
	font-weight: 200;
}

.share-banner h2{
	color:#0e1e42;
}

a{
	color:blue;
}

.ul-padding{
	padding: 20px 0 0 100px;
}

p{
	size: 25px;
}

.centered{
	margin-left: auto;
    margin-right: auto;
}
